body {
  font-family: Roboto, sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}
:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link a {
  text-decoration: none;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
}

/*----------------HEADER------------------*/

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header-navigation span {
  color: var(--color-grey);
  margin-right: 76px;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  display: flex;
  align-items: center;
  margin-right: 76px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-item {
  display: flex;
  margin-right: 40px;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  margin-right: 0px;
}

.header-link:hover {
  color: var(--color-ocean);
}

.header-link:focus {
  color: var(--color-ocean);
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-information {
  margin-right: 40px;
  margin-left: auto;
}

.address-information-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  margin-right: 0px;
}

.address-information-item:hover,
.address-information-item:focus {
  color: var(--color-ocean);
}

/*----------------HERO------------------*/

.hero {
  padding-bottom: 188px;
  padding-top: 188px;
}
.hero-container {
  background-color: var(--color-grey);
  width: 100%;
  max-width: 1470px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-ocean);
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px 16px 32px;
}

/*----------------ABOUT------------------*/

.about {
  padding: 120px 0;
}

.about-name {
}
.about-list {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-item {
  width: calc((100% - 72px) / 4);
}
.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}
.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/*----------------PRICES------------------*/

.prices {
  padding-bottom: 120px;
}

.prices-container {
  padding-bottom: 120px;
}

.prices-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}
.prices-list {
  display: flex;
  gap: 24px;
}

.prices-item {
  width: calc((100% - 48px) / 3);
}

/*----------------TEAM------------------*/

.container-name {
  padding: 32px 16px;
  text-align: center;
}

.team {
  background-color: var(--color-cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  background-color: var(--color-white);
  margin-bottom: 72px;
}
.team-list {
  background-color: var(--color-white);
  display: flex;
  gap: 24px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 8px;
}
.team-items-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  background-color: var(--color-white);
}
.team-items {
  background-color: var(--color-white);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

/*----------------FOOTER_index------------------*/

.footer-container {
  max-width: 1440px;
}

.footer-html {
  background: var(--color-navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-html-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-html-span {
  color: var(--color-cloud);
}

.footer-html-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  max-width: 264px;
}

/******----------------PORTFOLIO------------------******/

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}
/*----------------PORTFOLIO_HEADER------------------*/

.portfolio-header-link:hover {
  color: var(--color-ocean);
}
.portfolio-header-link:focus {
  color: var(--color-ocean);
}

.portfolio-header-container {
  display: flex;
  align-items: center;
}

.portfolio-header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}
.portfolio-header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  margin-right: 76px;
  display: flex;
  align-items: center;
}
.portfolio-header-span {
  color: var(--color-grey);
  margin-right: 76px;
}
.link {
}
.portfolio-header-list {
  display: flex;
  gap: 40px;
}
.list {
}
.portfolio-header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}

/*----------------PORTFOLIO_ADDRESS------------------*/
.portfolio-adress-link:hover {
  color: var(--color-ocean);
}

.portfolio-adress-link:focus {
  color: var(--color-ocean);
}
.portfolio-address {
  font-style: normal;
}
.portfolio-address-list {
  display: flex;
  gap: 40px;
}

.list {
}

.portfolio-adress-link {
}
.link {
}

.portfolio-adress-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  margin-right: 0px;
}

.portfolio-adress-item:hover,
.portfolio-adress-item:focus {
  color: var(--color-ocean);
}

/*----------------BTN------------------*/

.btn {
  padding-top: 96px;
  padding-bottom: 120px;
}
.btn-item:hover,
.btn-item:focus {
  background: var(--color-ocean);
  color: var(--color-white);
  cursor: pointer;
  border: 1px solid transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #f4f4fd;
  cursor: pointer;
  color: var(--color-iris);
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
}

.btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
}

.list {
}

.product-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

/*----------------PORTFOLIO------------------*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.list {
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  margin-bottom: 8px;
}
.portfolio-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

/*----------------PORTFOLIO_FOOTER------------------*/

.portfolio-footer-container {
}

.portfolio-footer {
  background: var(--color-grey);
  padding-top: 100px;
  padding-bottom: 100px;
}
.portfolio-footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.portfolio-footer-span {
  color: var(--color-cloud);
}
.portfolio-footer-text {
  font-family: inherit;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  max-width: 264px;
}
